@font-face {
  font-family:jazeera;
  src:url(https://www.fontstatic.com/fonts/jazeera/jazeera.eot?#iefix);
  src:local(ط·آ·ط¢آ§ط·آ¸أ¢â‚¬â€چط·آ·ط¢آ¬ط·آ·ط¢آ²ط·آ¸ط¸آ¹ط·آ·ط¢آ±ط·آ·ط¢آ©),local(jazeera),url(https://www.fontstatic.com/fonts/jazeera/jazeera.woff) format("woff");
}

@font-face {
  font-family:jazeera-light;
  src:url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.eot?#iefix);
  src:local('ط·آ·ط¢آ§ط·آ¸أ¢â‚¬â€چط·آ·ط¢آ¬ط·آ·ط¢آ²ط·آ¸ط¸آ¹ط·آ·ط¢آ±ط·آ·ط¢آ© ط·آ·ط¢آ®ط·آ¸ط¸آ¾ط·آ¸ط¸آ¹ط·آ¸ط¸آ¾'),local(jazeera-light),url(https://www.fontstatic.com/fonts/jazeera-light/jazeera-light.woff) format("woff");
}

.fa-user-plus:before,
ul.nav.nav-tabs.fl li .fa-user:before {
  display:none;
}

html input[type=button] {
  background:linear-gradient(163deg,#1c585f 0,#5ccad3 100%) !important;
  border:1px solid#ac0c64 !important;
  color:#fff;
  border-radius:7px !important;
  border-radius:100px;
}

div.corner.border.label.label-primary {
  background-color:#ac0c64 !important;
}

.btn-asim,
.btn-asim1,
.btn-asim2,
.btn-asim3 {
  border:.5px solid #ac0c64;
  padding:0;
  width:64px;
  text-align:center;
  border-radius:10px 10px 10px 10px !important;
}

#asim21 {
  text-decoration:dotted;
  color:#fff;
  margin-top:3.7px !important;
  margin-left:2px !important;
  display:inline-block;
  float:right;
  margin-right:1.5px !important;
  border-bottom:0 solid#fff !important;
  border-right:.5px solid#fff !important;
  border-top:.5px solid#fff !important;
  border-left:.5px solid#fff !important;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 -3px 1px -2px rgba(0,0,0,.2) !important;
  border-radius:7px 7px 0 0;
}

.btn-as {
  border:.5px solid #ac0c64;
  font-family:jazeera,FontAwesome;
  font-size:13px !important;
  padding:2px 2px 0 !important;
  text-align:center !important;
  color:#fff !important;
  box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2) !important;
  background-image:radial-gradient(circle,#ac0c64,#ac0c64,#f5a9bc) !important;
}

.btn-asim {
  margin-top:2px;
}

.btn-asim1 {
  margin-top:62px;
  position:absolute;
  margin-left:-7px;
  left:1px;
}

.btn-asim2 {
  margin-top:39px;
  position:absolute;
  margin-left:-7px;
  left:1px;
}

.btn-asim3 {
  margin-top:39px;
  position:absolute;
  margin-left:-7px;
  left:1px;
}

label.fl.label.loginstat {
  float:left !important;
  border-radius:0 7px 7px 0 !important;
  position:absolute;
  top:0;
  left:0;
  padding:3px 6px 2px 8px !important;
  margin-top:6px !important;
  font-family:fanni;
  font-size:14px !important;
  margin-left:-4px !important;
}

.nav-tabs>li>a {
  border:0 solid transparent;
}

div#tlogins.light {
  height:auto !important;
}

body.bg.center-block.bg.dad div#tlogins {
  height:auto !important;
}

.btn-primary {
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent) !important;
}

label.label.label-primary.mini.fl {
  pointer-events:none;
  width:35% !important;
  height:20px;
  color:#fff;
  border:none !important;
  border-radius:0 !important;
  font-family:fanni;
  background:linear-gradient(163deg,#98205f 0,#ac0c64 100%) !important;
  font-size:15px !important;
}

::-webkit-scrollbar {
  width:5px;
  height:10px;
}

::-webkit-scrollbar-button {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-thumb {
  background:#ac0c64;
  border:71px none #fff;
  border-radius:31px;
  background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent) !important;
}

::-webkit-scrollbar-thumb:hover {
  background:#ac0c64;
}

::-webkit-scrollbar-thumb:active {
  background:#ac0c64;
}

::-webkit-scrollbar-track {
  background:#ac0c64;
  border:65px none #fff;
  border-radius:34px;
}

::-webkit-scrollbar-track:hover {
  background:#ac0c64;
}

::-webkit-scrollbar-track:active {
  background:#ac0c64;
}

::-webkit-scrollbar-corner {
  background:0 0;
}

.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
  background-color:transparent;
  background-image:none;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
  border-radius:5px 5px 5px 5px;
  margin-left:-8px;
  font-size:12px !important;
  padding:1px;
  background-color:#ffffff00;
  color:#fff;
}

#asim7 {
  margin-bottom:-5px;
  height:23px;
  color:#fafafa;
  border-radius:7px;
  border-bottom:2px solid #ac0c64;
  border-top:2px solid #dbd0d2;
  font-family:jazeera,FontAwesome;
  font-size:13px !important;
  padding:0;
  background:linear-gradient(163deg,#ac0c64 0,#ac0c64 100%) !important;
}

div#tlogins {
  border-color:#ac0c64;
  outline:0;
  box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px #ac0c64;
  border:1px solid#ac0c64;
}

body {
  background-image:url();
}

#asim22 {
  text-decoration:dotted;
  margin-top:-2px !important;
  margin-left:2px !important;
  margin-right:1.5px !important;
  display:inline-block;
  float:right;
  border:.5px solid !important;
  border-top:.5px solid#ac0c64 !important;
  border-radius:0 0 7px 7px;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success::before {
  content:"1";
}

.fa-user-plus:before,
ul.nav.nav-tabs.fl li .fa-user:before {
  display:none;
}

#asim22:hover {
  color:#fffc76 !important;
}

.ukick {
  margin:0 !important;
  width:60px !important;
  background-color:#fff !important;
  margin-top:14px !important;
  margin-left:-60px !important;
  position:absolute;
  top:1px;
}

.uban {
  margin:0 !important;
  width:60px !important;
  background-color:#fff;
  margin-top:73px !important;
  margin-left:-61px !important;
  position:absolute;
  top:1px;
}

.btn.hand.borderg.corner {
  width:25px;
  height:25px;
}

.ae {
  border-radius:3px;
  border:1px solid #fff;
}

.fa-user-plus:before,
ul.nav.nav-tabs.fl li .fa-user:before {
  display:none;
}

#asim22:hover {
  color:#fffc76 !important;
}

#asim21:hover {
  color:#fffc76 !important;
}

#asim66 {
  margin-top:0 !important;
  position:absolute;
  top:-122px;
  left:5px;
  background-image:url() !important;
  background-size:129px;
}

.border {
  border:.9px solid #b9b9f4;
}

a.label.label-primary.fl {
  display:none;
}

body.bg.center-block.bg.dad div#tlogins {
  width:auto !important;
  height:auto !important;
}

.fa-user-plus:before,
ul.nav.nav-tabs.fl li .fa-user:before {
  display:none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color:#ac0c64;
  background-color:#fff;
  text-align:center;
}

.nav-tabs>li:hover {
  background-color:#ac0c64;
}

.nav-tabs>li>a:hover {
  border-color:#fff #eee #ddd;
  border:2px solid;
  background-color:#e3487c;
  color:#fff;
}

.nav-tabs>li {
  background:#f0c7dd;
  width:33%;
  border:1px solid #a7a4a4;
  margin-left:1px;
  border-radius:6px 6px 0 0;
  height:36px !important;
}

.nav-tabs>li>a {
  color:#fff;
  margin:auto;
  border:1px solid #c90e75;
  text-align:center;
  background-color:#ac0c64;
  width:95%;
  height:87% !important;
  margin-top:2px;
  padding:2px 0 !important;
}

label.label.label-primary.mini.fl {
  width:34% !important;
  padding:1px;
  border-radius:0 0 0 5px !important;
  margin-top:-3px;
  float:right;
}

.fr.borderg {
  padding:1px;
  border-radius:0 0 5px 0 !important;
  margin-top:-3.5px;
  background-color:#ac0c64 !important;
  border:.1px solid #ac0c64;
  float:left;
  color:#fff;
  height:20.4px;
}

label.fl.label.loginstat {
  float:left !important;
  border-radius:0 15px 15px 0 !important;
  position:absolute;
  top:0;
  left:0;
  margin:5px -4px !important;
  padding:1px 8px 4px !important;
  margin-top:98px !important;
  font-family:fanni;
  font-size:13px !important;
}

span.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
  padding:0 3px 2px;
  margin-right:5px;
}

.fr.borderg,
.fr.borderg a {
  font-size:12px !important;
  padding:0 5px !important;
  color:#fff;
}

div#l1,
div#l2,
div#l3 {
  border-bottom:3px solid #ac0c64;
  border-left:1px dotted #ac0c64;
  border-right:1px dotted #ac0c64;
  margin-bottom:2px;
  padding:16px 6px 11px 10px !important;
}

input#pass1,
input#pass2,
input#u1,
input#u2,
input#u3 {
  text-align:center;
  border:1.5px solid #ac0C648a;
  border-radius:4px;
  width:50% !important;
}

.label-success {
  background-color:#ac0c64;
}

div#l1 button.btn.btn-primary,
div#l2 button.btn.btn-primary,
div#l3 button.btn.btn-primary {
  width:87px;
  position:inherit;
  height:26px;
  margin-bottom:4px;
  padding:0;
}

div#d2bc .uzr.fl.corner.borderg {
  border-radius:9px !important;
  margin:3px 1px -1px 2px !important;
  border:5px solid transparent;
  padding:15px;
  -webkit-border-image:url(https://iraqiachats.com/iraqena/wp-content/uploads/2018/08/border1.png) 30 round;
  -o-border-image:url(https://iraqiachats.com/iraqena/wp-content/uploads/2018/08/border1.png) 30 round;
  border-image:url(https://iraqiachats.com/iraqena/wp-content/uploads/2018/08/border1.png) 30 round;
}
