.hmsg{background-color:#ebf1ff!important}
#team1{margin-bottom:2px;font-family:el messiri,FontAwesome!important;background-image:linear-gradient(90deg,#b72e66ad 0,#b72e66cf 10%,#b72e66 51%,#b72e66cf 89%,#b72e66ad 100%);color:#f9f9f9;border-radius:3px;padding:4px 0!important;padding-bottom:3px}

.oneteam{transform:matrix(1,0,0,1,216,0);position:absolute;margin-top:31px;float:left;background:transparent url(http://team1.aba.cx/wlllh/mt1.png) no-repeat scroll right top;text-align:left}

.btn-primary,.label-primary{background-color:#b93068!important}


..fr.borderg,.fr.borderg a{border-radius:15px!important;background-image:linear-gradient(90deg,#b72e66ad 0,#b72e66cf 10%,#b72e66 51%,#b72e66cf 89%,#b72e66ad 100%);border:#000 solid 0;color:#fff}
fa-cog:before,.fa-commenting-o:before,.fa-gear:before,.fa-group:before,.fa-users:before{content:""}.s1.fa.fa-user.label.badgex.label-as-badge.label-success{background-color:transparent}

.btn-primary{border-color:#fff!important;border-radius: 30px 30px  30px 0 !important}

.ae.label.label-primary.fa.fa-gear{color:#ffd900}

.border{border-radius:30px 30px  30px 0}

.fa-user-plus:before,ul.nav.nav-tabs.fl li .fa-user:before{display:none}

.nav-tabs>li>a{margin-right:0;line-height:1.42857143;border:1px solid transparent}

ul.nav.nav-tabs.fl li{width:33.3%;margin-left:0;border-radius:50px;margin-bottom:5px!important}

ul.nav.nav-tabs.fl{background:0 0!important}


ul.nav.nav-tabs.fl li a{background-image:linear-gradient(90deg,#ffffff 0,#b72e66 10%,#b72e66 51%,#b72e66 89%,#b72e66 100%);text-align:center;border-radius:3px;margin-top:2px;padding:2px 0!important;border:0 solid #4c4b4b}


.fa-user-plus:before,a.label.label-primary.fl img.fl,button.btn.fr.btn-success.fa.fa-refresh,div#l2 br,div#l3 br,ul.nav.nav-tabs.fl li .fa-user:before{display:none}

#team0{background-color:#b93068}



#team3,#team4{text-align:center!important}
#team4,label.label.label-primary.mini.fl{background-image:linear-gradient(90deg,#d86292 0,#ca497e 10%,#b72e66 51%,#ca497e 89%,#d86292 100%)}


div#l2 button{border-radius:24px!important;width:20%;height:30px;margin-top:0px;}

div#l3 button{border-radius:24px!important;width:40%;height:30px;margin-top:0px;}


div#l3 button{border:1px solid #fff!important;border-radius:0 30px 30px  30px!important;height:28px}


div#l1 input#u1{width:68%;margin-left:115px}
div#l1 input#u1{border-radius:15px ;border:3px solid #e1e0e0;margin-top:3px;text-align:center;border-right:22px solid;border-left:22px solid;border-color:#b93068}


div#l2 input#pass1,div#l2 input#u2,div#l3 input#pass2,div#l3 input#u3{width:49%;padding:0!important;float:right;margin:2px 5px 2px 4}


div#l2 button{border:1px solid #fff!important;border-radius: 30px 30px  30px 0!important;height:28px}




div#l2 input#u2,div#l3 input#u3{margin-left:-6px;border-radius:15px;border:1px solid #e1e0e0;text-align:center;border-right:7px solid;border-left:7px solid;border-color:#b93068}

div#l2 input#pass1,div#l3 input#pass2{border-radius:15px;border:1px solid #e1e0e0;text-align:center;border-right:7px solid;border-left:7px solid;border-color:#b93068}

div#l2,div#l3{padding:2px!important}

div#l1{margin:0 1px -18px;padding:0!important}

div#l1,div#l2,div#l3{border-bottom:2px solid;margin-bottom:2px;border-top:2px solid;margin-top:0;border-color:rgba(185,48,104,.6);border-radius:15px;height:62px}





label.fl.label.loginstat{border-radius:15px!important;position:absolute;margin-left:-1px!important}

.label-success{background-color:#b93068}

div.label.label-primary{font-family:none!important}
.fa.fa-user-plus{color:#fff!important}


#team4,.team2,div#l1 input#u1{border-radius:15px!important}

.team2{background-color:#fff;border-radius:0;padding:2px 10px;margin:3px 8px!important}#team3{text-decoration:dotted;color:#fff;margin-left:2px!important;display:inline-block;margin-right:4.4px!important}#team4{color:#f9f9f9!important;font-size:13px!important}.fr.borderg,.fr.borderg a{margin-top:5px}

.fr.co,div#tlogins img.fr.co{border-radius:3px!important;height:10px}.checkbox{margin-top:3px!important;margin-left:-1px!important;position:fixed;float:right}

.fa.fa-user-secret{color:#b40666;margin-top:4px!important}
dlabel.label.label-primary.mini.fl{width:58.5%!important;padding:1px;margin-top:0;border-radius:15px!important}div#tlogins ::-webkit-scrollbar{width:5px;height:10px}div#tlogins ::-webkit-scrollbar-button{width:5px;height:5px}
iv#tlogins ::-webkit-scrollbar-thumb{background:0 0;border:71px #fff;border-radius:31px;background-image:linear-gradient(90deg,#b72e66ad 0,#b72e66cf 10%,#b72e66 51%,#b72e66cf 89%,#b72e66ad 100%)}

.border,div#tlogins{box-shadow:inset 1px 1px 1px 0 rgba(185,48,104,.22),0 0 2px rgba(185,48,104,.36);border:1px solid #fff}

div#tlogins ::-webkit-scrollbar-thumb:active{background:0 0}

div#tlogins ::-webkit-scrollbar-track{background:#fff;border:65px #fff;border-radius:34px}div#tlogins ::-webkit-scrollbar-track:hover{background:0 0}

div#tlogins ::-webkit-scrollbar-track:active{background:0 0}div#tlogins ::-webkit-scrollbar-corner{background:0 0}

div#tlogins .fl.mini.u-msg{margin-top:3px!important;border-radius:3px!important}
ns .fl.mini.u-msg{margin-top:3px!important;border-radius:3px!importan
