.ae{border:1px solid #ffffff}
.ae.label.label-primary.fa.fa-gear{border-radius:7px 7px 15px 15px}
.ae.fa.chats.label.fa-comment.label-warning{margin-left:-1px!important;border-radius:0 7px 15px 0;font-size:15px!important}
.s1.fa.fa-user.label.badgex.label-as-badge.label-success{background-color:transparent;background-image:none}
.ae.fa.label.fa-commenting-o.label-primary{margin-left:-2px!important;border-radius:0 7px 15px 0}
.ae.fa.label.fa-commenting-o.label-warning{margin-left:-2px!important;border-radius:0 7px 15px 0}
.ae.fa.chats.label.fa-comment.label-primary{margin-left:-2px!important;border-radius:0 7px 15px 0}
.ae.fa.label.label-primary.fa-users{border-radius:7px 0 0 15px}
.ae.fa.label.label-primary.fa-user{border-radius:7px 0 0 15px}
div#l1.grow.break.tab-pane.fade.active.in{mix-blend-mode:multiply;border:dotted;border-top-width:thin;border-top-style:dotted;border-width:unset;border:1px solid;/* border-left:10px solid;*/
    
/* border-right:9px solid;*/
    
/* border-right-width:10px;*/
    background-blend-mode:exclusion;outline-style:unset;background-clip:border-box;border-color:#ffffff;position:absolute!important;width:58%!important;margin-top:-45.8px!important;margin-left:155px!important;height:99px;border-radius:8px;background-color:#a2706f2e;background-image:url(https://2.top4top.net/p_1405peywt1.png);background-position:11230865px bottom;top:221px;/* background-color:#986665a3;*/}
div#l1,div#l3,div#l2{mix-blend-mode:multiply;border:dotted;border-top-width:thin;border-top-style:dotted;border-width:unset;border:1px solid;/* border-left:10px solid;*/
  
/* border-right:9px solid;*/
  
/* border-right-width:10px;*/
  background-blend-mode:exclusion;outline-style:unset;background-clip:border-box;border-color:#ffffff;position:absolute!important;width:58%!important;margin-top:-45.8px!important;margin-left:155px!important;height:99px;border-radius:8px;background-color:#a2706f2e;background-image:url(https://2.top4top.net/p_1405peywt1.png);background-position:11230865px bottom;top:221px;/* background-color:#f7c5c4;*/}
ul.nav.nav-tabs.fl li a{background-image:radial-gradient(circle,#2b3e52,#2b3e52,#2b3e52)!important;color:#fff;margin:auto;text-align:center;width:77%;border-radius:7px;height:!important;height:87%!important;margin-top:2.2px;padding:2px 0!important;font-family:'jazeera',FontAwesome;margin-right:42px;border:.5px solid!important}
div#l1 button.btn.btn-primary{margin-left:100px!important;margin-top:33px!important}
div#l2 button.btn.btn-primary,div#l3 button.btn.btn-primary{margin-left:100px!important;margin-top:2px!important}
div#tlogins.light{height:auto!important}
body.bg.center-block.bg.dad div#tlogins{height:auto!important}
div#l2,div#l3,div#l1,ul.nav.nav-tabs.fl li a,#as43,.label.label.label-primary.mini.fl{box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)!important}
a.label.label-primary.fl{display:none}
div#l2 button.btn.btn-primary,div#l1 button.btn.btn-primary,div#l3 button.btn.btn-primary{background:linear-gradient(163deg,#2b3e52 0%,#2b3e52 100%)}
#asim13{margin-bottom:0;border-radius:22px;border-bottom:1px solid #ffffff;border-top:1px solid #ffffff;/* font-size:15px!important;*/
    padding:0!important;position:absolute!important;width:74%;margin-left:-120px;left:11px;background:#eae9e800;top:108px}
l.nav.nav-tabs{margin-top:0!important;margin-bottom:4px!important;border-radius:8px;background-color:#fff!important;border:#ff000000!important;font-size:15px!important}
.ukick{margin:0!important;width:60px!important;background-color:#fff!important;margin-top:14px!important;margin-left:-60px!important;position:absolute;top:1px}
.uban{margin:0!important;width:60px!important;background-color:#ffffff;margin-top:73px!important;margin-left:-61px!important;position:absolute;top:1px;/* color:#fff!important;*/}
.btn.hand.borderg.corner{width:25px;height:25px}
ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before{float:right;margin-right:2%;border:1px solid;padding:0 1px 0;border-radius:10.10px;border-right-width:18px;border-bottom-color:#2b3e52;/* border-bottom-left-radius:14px;*/
  
/* border-top-left-radius:9px;*/
  border-right-style:ridge;border-right:3px dotted;border-style:dotted;width:34px;text-align:center;background-color:#fff;color:#58533a}
.fa-user:before{content:"\f086";/* color:#4c0808;*/}
:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fa-group:before,.fa-users:before,.fa-gear:before,.fa-cog:before,.fa-commenting-o:before{content:""}
.fa-group:before,.fa-users:before{/* content:"\f0c0";*/}
.label-success{background-color:#2b3e52}
#asim22:hover{color:#fffc76!important}
#asim21:hover{color:#fffc76!important}
.inline{/* background-size:contain!important;*/
  border:1px solid lavender;color:#ffffff}
div#mic{background-size:contain!important}
div#mic{background-image:url(https://www.up-00.com/i/00141/m2ixsu2ceg7s.gif
)!important;background-size:cover}
.fa-volume-up:before{content:"\f004"}
.ae.fa.label.label-primary.fa-volume-up{margin-left:-3px!important;border-radius:0 7px 15px 0}
.ae.label.label-primary.fa.fa-gear{border-radius:7px 0 0 15px}
.fl.mini.fa.fa-bullhorn.btn.btnn-default{font-size:14px!important;width:100%;background-color:#2b3e52!important;color:hsl(0,0%,100%);text-align:center;border-radius:10%;margin-bottom:3px;margin-top:1px;height:25px;padding:5px 0;margin-left:1px}
input[type="jfa-w"]{font-size:15px!important;width:100%;text-align:center;color:#d9534f;border-radius:14%;margin-bottom:6px;margin-top:1px;margin-left:3px}
.tbox{padding:5px;min-height:32px}
.uzr.fl.corner.borderg.mm{margin-left:0!important;border-radius:0!important;width:100%!important;margin-bottom:-1px!important;border:1px solid hsl(186,45%,88%)}
.pmsgc{background-color:#f9f7f9!important;/* -webkit-text-fill-color:#ad2f9f;*/}
img.fl.fitimg.hand.u-pic{border-radius:100%!important;margin-top:4px!important;margin-right:4px!important}
img.fitimg.fl.u-pic{background-size:cover;border-radius:3px!important;padding:18px;border:1px solid#e8e8e8}
.label-primary,.btn-primary,.bg-primary,.label-primary:hover,.btn-primary:hover,.btn-primary:focus,.label-primary,.btn-primary{border:1px solid #f9f6f6}
label.fl.nosel.label.pnhead{color:#fff;background-color:#a4045c;font-size:15.8px!important}
#fahd3{text-decoration:dotted;color:#fff;margin-left:193px!important;display:inline-block;/* margin-right:4.4px!important;*/
    background:linear-gradient(45deg,#2b3e52,#2b3e52);box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)!important}
#fahd3,#fahd4{text-align:center!important}
.u-msg.break.fl{line-height:22px!important}
.u-msg.break.fl,.fl.u-msg,.uzr{-webkit-user-select:none}
span.busers.minix.badge.border{display:-webkit-inline-box;background-color:#ffffff00}
span.border{border:none}
h3.popover-title,.fa-gear:before,.fa-cog:before,.fa-commenting-o:before,.fa-group:before,.fa-users:before,span.border,.fl.fa.fa-comment.btn.ui-corner-all.ui-shadow.ui-btn.ui-btn-inline.upm.borderg.fa-comment:before,.fa-envelope-o:before,.fa-diamond:before,.fa-search:before,.fa-ban:before,.fa-ban:before,.fa-user-times:before{display:none}
.label-warning{background-color:#a4045c}
.fa-user-times{margin:0!important;background-color:#74062b;color:#18599e;top:0!important;margin-left:-452.7px!important;transform:rotate(-89.9deg);width:128px!important;margin-top:-240px!important;/* color:white;*/
  
/* text-align:center;*/
  border-radius:88px;border-left:9px #a90743 solid;text-align-last:start;text-decoration:solid;color:#ffffff!important;border-right:33px #74062b solid;width:81.4%!important;border-top:white;border-left:3px dotted;border-left-style:dotted}
.modal-header.label-primary{color:#74062b ! important;margin-top:-1px;background-image:url(https://www.jfa-w.net/sico/z1dpn8fvvc10.png);background-size:cover;width:100%!important;padding:5px;border-radius:7px;text-align:center;border-bottom:1px #74062b solid;border-bottom-style:dashed;/* border-left-width:inherit; */box-shadow: 0 1px 9px rgba(0,0,0,.5);}
.badge{display:inline-block;min-width:10px;font-size:12px;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:middle;background-color:#74062b;border-radius:10px}
.modal-body{position:relative;padding:15px;/* mix-blend-mode: multiply; */padding:0!important;/* border-left-style:outset; *//* box-shadow: 0 12px 12px rgba(0,0,0,.5); */}
.modal-title{margin:8px!important;line-height:1.42857143;margin-top:-3px!important}
#asim66{margin-top:0!important;position:absolute;top:-122px;left:5px;background-image:url(https://www.jfaw-w.net/sico/z1dap4u8o310.png)!important;background-size:129px}
.border{border:.9px solid #cecece}}
}
a.label.label-primary.fl{display:none}
#asim21{text-decoration:dotted;color:#fff;margin-top:1.1px!important;margin-left:40px!important;display:inline-block;/* overflow-x:hidden;*/
  float:right;margin-right:-26px!important;/* box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 -3px 1px -2px rgba(0,0,0,0.2)!important;*/
  border-radius:5px 15px 5px 16px!important;border:#8e210b00;border-right:5px #c7daee solid;border-right-style:double;border-left:9px #d0c695 solid;border-left-style:double}
a#asim21,div#tlogins button.btn.btn-primary,label.label.label-primary.mini.fl{background-color:#2b3e52!important}
.fl.label.loginstat.label-success{/* background-color:#3c717100;*/}
.loginstat{height:22.1px;top:1px;position:absolute;left:-8px;width:15%;border-radius:52px!important;margin-left:2px!important;background-color:#97656412}
div#l1 input#u1{width:105%;border-right-width:thick;border-left:thick;padding:0!important;margin-left:-4px!important;text-align:center;height:27px;/* border-radius:16px;*/
  border-style:solid;border-right:20px solid;border-left:20px solid;border-color:#58533a;border-left-style:double;border-right-style:double}
div#l2 input#u2,div#l3 input#u3{width:105%;border-right-width:thick;border-left:thick;padding:0!important;margin-left:-4px!important;text-align:center;height:28px;/* border-radius:16px;*/
  border-style:solid;border-right:20px solid;border-left:20px solid;border-color:#58533a;border-left-style:double;border-right-style:double}
div#l2 input#pass1,div#l3 input#pass2{height:28px;width:105%;border-right-width:thick;padding:0!important;/* border-radius:16px;*/
  border-style:solid;margin-top:2px;/* border-left-width:thick;*/
  margin-left:-4px!important;text-align:center;border-right:20px solid;border-left:20px solid;border-color:#58533a;border-left-style:double;border-right-style:double}
#as43{/* transform:matrix(1,0,0,1,54,-143);*/
    border-radius:5px 16px 5px 16px!important;position:absolute;width:36.1%!important;height:19px;left:-218px;font-size:14px!important;color:#58533a;padding:0 0!important;background:linear-gradient(163deg,#eee5e5 0%,#eee5e500 100%)!important;/* background-image:url(https://upload.3dlat.net/uploads/3dlat.net_02_17_2f61_7f486eb1632111.png);*/
    margin-top:-20px;border-right:0 #58533a solid;margin-left:423.9px;border-left:6px #58533a solid;box-sizing:content-box}
#as433{font-family:'fanni';padding:1px;width:8%;height:4px;color:#fff;border-left:1px solid#f29d19;/* -webkit-appearance:sliderthumb-horizontal;*/
    position:inherit!important;outline:6px  double;border-radius:0;background:linear-gradient(163deg,#2b3e52 0%,#2b3e52 100%)!important;/* border-right:5px #f19915 solid;*/}
label.label.label-primary.mini.fl{pointer-events:auto;width:39.7%!important;height:24px;color:#fff;/* border:none!important;*/
  border-radius:11px 8px 5px 22px!important;border-left:dotted;border-bottom-style:dotted;/* border-right:5px #f29d19 solid;*/
  font-family:fanni;font-size:15.3px!important;background:linear-gradient(163deg,#2b3e52 0%,#2b3e52 100%)!important}
.lonline.light.break{outline:#c6c6cc solid 1px!important;background-color:#ffffff!important;background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,0.23) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent)!important;/* border-top:2.4px #2b3e52 solid;*/
border-bottom:2.2px #2b3e52 solid;border-radius:10px;/* border-left:.5px #58533a solid;*/

/* border-right:.5px #58533a solid;*/

/* border-left-style:dotted;*/

/* border-right-style:dotted;*/}
div#tlogins{border-color:#ffffff;outline:0;box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px #2b3e52;border:1px solid#eee5e5;background:#fff}
ul.nav.nav-tabs.fl li a:hover{color:#fffc76}
.nav-tabs>li>a{border:0 solid transparent}
div#tlogins .hand.nosel.fl.uzr.border{width:99%!important;margin-top:5px!important;border-radius:3px!important;border:1px solid #e2e4e2}
body{background:linear-gradient(163deg,#fff 0%,#f1f1f1 100%)}
ul.nav.nav-tabs.fl li{background:none;width:50%;margin-left:1px;border-radius:50px;height:35px!important}
ul.nav.nav-tabs{margin-top:0!important;margin-bottom:0!important;border-radius:8px;background-color:#fff0!important;border:#ff000000!important}
.fr.borderg{border-radius:222px!important;margin-top:0.0px;margin-left:-2px;height:0;position:absolute;top:87px;font-family:'jazeera',FontAwesome;color:#76947c;/* box-shadow:inset 0 0 0 0 black;*/
  border-bottom:0 #fff solid;border:thick}
.fr.borderrg{border-radius:222px!important;margin-top:0.0px;margin-left:190px;/* height:0;*/
    position:absolute;top:596px;font-family:'jazeera',FontAwesome;color:#552322;box-shadow:inset 0 0 0 0 black;background-color:#286090;border-left:4px solid #1ca0d1}
.fr.borderg,.fr.borderg a{font-size:9px!important;padding:0 6px!important;color:#2b3e52;font-family:'fanni'}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success{border-radius:5px 5px 5px 5px;margin-left:-8px;font-size:12px!important;padding:1px;background-color:#ffffff00;color:#fff}
div#l2 button.btn.btn-primary,div#l1 button.btn.btn-primary,div#l3 button.btn.btn-primary{border-radius:7px!important;width:112px;position:inherit;height:25px;margin-bottom:4px;padding:0 0 3px;/* border:0 solid#ffffff!important;*/
  border-right:6px solid;border-left:6px solid;border-right:4px dotted;border-left:4px dotted;font-family:'fanni';border-color:#ffffff;border-bottom-style:groove;border-right-style:double;border-top-style:dotted;border-left-style:double;border-bottom-style:dashed}
div#tlogins::-webkit-scrollbar{width:5px;height:10px}
div#tlogins::-webkit-scrollbar-button{width:5px;height:5px}
div#tlogins::-webkit-scrollbar-thumb{background:#5f2d2c;border:71px none #fff;border-radius:31px;background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important}
div#tlogins::-webkit-scrollbar-thumb:hover{background:#994646}
div#tlogins::-webkit-scrollbar-thumb:active{background:#994646}
div#tlogins::-webkit-scrollbar-track{background:#1a90a514;border:65px none #fff;border-radius:34px}
div#tlogins::-webkit-scrollbar-track:hover{background:#98205f63}
div#tlogins::-webkit-scrollbar-track:active{background:#98205f63}
div#tlogins::-webkit-scrollbar-corner{background:transparent}
div#d2bc .uzr.fl.corner.borderg{border-radius:1px!important;margin:3px 1px -1px 2px!important;border:nonepx solid #dedddd26;padding:15px;font-size:15px!important}
