#des1 {
    margin-bottom: 2px;
    font-family: el messiri,FontAwesome!important;
    background-image: linear-gradient(90deg,#d65463b8 0,#d65463de 10%,#d65463 51%,#d65463e0 89%,#d65463b8 100%);
    color: #f9f9f9;
    border-radius: 3px;
    padding: 4px 0!important;
    padding-bottom: 3px
}

.onedes {
    transform: matrix(1,0,0,1,216,0);
    position: absolute;
    margin-top: 31px;
    float: left;
    text-align: left
}

.s1.fa.fa-user.label.badgex.label-as-badge.label-success {
    background-color: transparent
}

.ae.label.label-primary.fa.fa-gear {
    color: #ffd900
}

.border {
    border-radius: 3px
}

div#users img.fl.ustat {
    border: 2px solid #fff;
    border-radius: 75px 75px 75px 75px;
    margin: 1;
    width: 15px!important;
    height: 15px!important
}

#des3,#des4 {
    text-align: center!important
}

#des4,label.label.label-primary.mini.fl {
    background-image: linear-gradient(90deg,#d86292 0,#ca497e 10%,#b72e66 51%,#ca497e 89%,#d86292 100%)
}

div#l1 input#u1 {
    width: 100%;
    margin-left: 1px
}

div#l3 button {
    width: 100%
}

div#l2 button,div#l3 button {
    border: 1px solid #fff!important;
    border-radius: 24px!important;
    height: 28px
}

div#l1 input#u1 {
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    margin-top: 3px;
    text-align: center;
    margin-bottom: 5px;
    border-color: #000
}

div#l2 input#u2 {
    width: 50%
}

div#l2 input#pass1 {
    width: 50%;
    float: right
}

div#l3 input#pass2 {
    width: 50%;
    float: right
}

div#l3 input#u3 {
    width: 50%
}

.checkbox {
    top: 3px!important;
    margin-left: 20px!important
}

div#l2 input#u2,div#l3 input#u3 {
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    text-align: center;
    border-color: #000;
    display: inline-block;
    margin-bottom: 5px
}

div#l2 input#pass1,div#l3 input#pass2 {
    border-radius: 15px;
    border: 1px solid #e1e0e0;
    text-align: center;
    border-color: #000
}

div#l1,div#l2,div#l3 {
    margin-bottom: 2px;
    margin-top: 0;
    height: 75px
}

div#l1 button {
    border-radius: 24px!important;
    width: 100%;
    height: 30px
}

div#l2 button {
    width: 70%
}

label.fl.label.loginstat {
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important;
    border-radius: 0 15px 15px 0!important;
    margin-left: -1px!important
}

div.label.label-primary {
    font-family: none!important
}

a.label.label-primary.fl img.fl,button.btn.fr.btn-success.fa.fa-refresh,div#l2 br,div#l3 br {
    display: none
}

#des4,.des2,div#l1 input#u1 {
    border-radius: 15px!important
}

.des2 {
    background-color: #fff;
    border-radius: 0;
    padding: 2px 10px;
    margin: 3px 8px!important
}

#des3 {
    text-decoration: dotted;
    margin-left: 2px!important;
    display: inline-block;
    margin-right: 4.4px!important
}

#des4 {
    color: #f9f9f9!important;
    font-size: 13px!important
}

.fr.co,div#tlogins img.fr.co {
    border-radius: 3px!important;
    height: 10px
}

.fa.fa-user-secret {
    color: #b40666;
    margin-top: 4px!important
}

label.label.label-primary.mini.fl {
    padding: 1px;
    margin-top: 0;
    border-radius: 15px!important
}

div#tlogins ::-webkit-scrollbar {
    width: 5px;
    height: 10px
}

div#tlogins ::-webkit-scrollbar-button {
    width: 5px;
    height: 5px
}

div#tlogins ::-webkit-scrollbar-thumb {
    background: 0 0;
    border: 71px #fff;
    border-radius: 31px;
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important;
    background: linear-gradient(163deg,#1c585f00 0%,#5ccad300 100%)
}

.border,div#tlogins {
    box-shadow: inset 1px 1px 1px 0 #9494946b,0 0 2px #9494949e
}

div#tlogins ::-webkit-scrollbar-thumb:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track {
    background: #fff;
    border: 65px #fff;
    border-radius: 34px
}

div#tlogins ::-webkit-scrollbar-track:hover {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-track:active {
    background: 0 0
}

div#tlogins ::-webkit-scrollbar-corner {
    background: 0 0
}

div#tlogins .fl.mini.u-msg {
    margin-top: 3px!important;
    border-radius: 3px!important
}

div#tlogins img.fitimg.fl.u-pic {
    margin-right: 5px;
    padding: 0;
    border-radius: 50%!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #707071
}

ul.nav.nav-tabs>li>a {
    text-align: center;
    margin: 0;
    padding: 5px!important;
    padding-left: 30px!important
}

ul.nav.nav-tabs>li.active>a {
    border: 1px solid #fff
}

ul.nav.nav-tabs>li {
    width: 32%;
    margin: 0 5px 0 0
}

ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 5px;
    color: #fff
}

.nav>li>a:focus,.nav>li>a:hover {
    color: #9abff9
}

.border {
    border: 0
}

.fr.borderg,.fr.borderg a {
    border: 0;
    background-color: #ffffff00!important
}

.ae.label.label-primary.fa.fa-gear {
    color: #fff!important;
    border-radius: 0 0 15px;
    margin-left: 5px!important
}

.ae.fa.label.fa-commenting-o.label-warning,.ae.fa.label.label-primary.fa-commenting-o {
    border-radius: 0 0 0 15px
}

.ae.fa.chats.label.fa-comment.label-warning {
    border-radius: 0 0 0 15px
}

.ae.fa.label.label-primary.fa-users {
    border-radius: 0 0 15px;
    margin-left: 5px!important
}

.ae.fa.chats.label.fa-comment.label-primary {
    border-radius: 0 0 0 15px
}

.ae.fa.label.label-primary.fa-user {
    border-radius: 0 0 15px
}

.ae.fa.label.fa-volume-up.label-primary {
    border-radius: 0 0 0 15px
}

div#tlogins span.corner.u-topic.dots {
    float: left!important;
    margin-top: 8px!important;
    border-radius: 5px!important;
    margin-right: -110px!important;
    max-width: 140%!important;
    left: 0!important;
    margin-left: 0!important
}

div#tlogins .hand.nosel.fl.uzr.border {
    width: 98%!important;
    margin-top: 3px!important;
    margin-left: 4px!important;
    border-radius: 3px!important;
    border: 1px!important
}

img.fitimg.fl.u-pic {
    border-radius: 25px!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #707071
}

div#tlogins img.fl.u-ico {
    margin-top: 8px!important
}

label.fl.nosel.label.pnhead {
    margin-left: 0!important;
    padding: 5px;
    width: 85%;
    display: block;
    background-color: #545454
}

.btn-primary,.label-primary,.btn-primary,.marquee,.users-count-label p,div#l1 button,div#l2 button,div#l3 button,label.label.label-primary.mini.fl,a.label.label-primary.fl,.lonline.light.break,label.fl.nosel.label.pnhead, {
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important;
    background: linear-gradient(163deg,#1c585f00 0%,#5ccad300 100%)
}

.label-primary,.btn-primary,.bg-primary,.label-primary:hover,.btn-primary:hover,.btn-primary:focus {
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important;
    background: linear-gradient(163deg,#1c585f00 0%,#5ccad300 100%)
}

.lonline.light.break {
    background-color: #bfbfbf26!important;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important
}

div#l1 button {
    padding: 2px 0!important;
    border: 2px solid #e6ff50;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 1s infinite
}

@-webkit-keyframes mymove {
    50% {
        border-color: #add8e6
    }

    from {
        transform: rotate(0deg) scale(1)
    }

    to {
        transform: rotate(360deg) scale(1)
    }
}

@keyframes mymove {
    50% {
        border-color: #add8e6
    }
}

a.label.label-primary.fl {
    border-radius: 3px!important;
    padding: 5px!important;
    margin-bottom: 2px;
    text-align: center!important
}

label.fl.label.loginstat {
    top: 3px
}

.ae.label.label-primary.fa.fa-star {
    border-radius: 0 0 0 15px
}

#des0 {
    border-radius: 0 15px 15px 0;
    height: 19px;
    font-size: 14px!important;
    color: #fff;
    padding: 0 0!important;
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)!important
}

div#tlogins {
    border-radius: 24px;
    border-color: #404040;
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075),0 0 8px #353535;
    border: 1px solid#2b2b2b69
}

ul.nav.nav-tabs.fl {
    margin-top: -3px
}
