}

   
}
.s1.fa.fa-user.label.badgex.label-as-badge.label-success {background-color: #283366!important;}
.fr.borderg, .fr.borderg {border: 30px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 900px 0px 15px 0px;}
.label-primary.mini.fl, .border-radius {border: 40px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.room.borderg.hand.nosel.fl, .border-radius {border: 30px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.btn-sm, .btn-sm {border: 300px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.hand.nosel.fl.uzr.border, .hand.nosel.fl.uzr.border {border: 400px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.uzr.fl.corner.borderg.mm, .uzr.fl.corner.borderg.mm {border: 400px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
.label.tc.border.btn.fl, .label.tc.border.btn.fl {border: 20px solid #283366;font-family: 'jazeera',FontAwesome;border-radius: 15px 0px 15px 0px;}
ul.nav.nav-tabs.fl li a:hover {background-color: #283366;color: white;}
ul.nav.nav-tabs.fl li {width: 99.3%;border-top: 80px solid #595A5C;border-radius: 15px 15px 0px 0px;background-color: #FFFFFF;border-bottom: 90px solid #F7F7F7;}
ul.nav.nav-tabs.fl li a {font-family: 'jazeera',FontAwesome;font-size: 13px!important;padding: 6px!important;text-align: center!important;border-radius: 15px 15px 0px 0px;width: 100%;color: #283366;}

div#tlogins {
    border: 2px solid #283366;
    border-radius: 20px 20px 0px 0px;
}
a.label.label-primary.fl {
    height: 35px;
    border-radius: 0px 20px 1px 0px!important;
    padding: 8px!important;
    border: 2px solid #595A5C;
}
a.label.label-primary.fl img.fl {
    margin-top: -3px;
    border-radius: 10px 0px;
}
a.label.label-primary.fl {
    height: 40px;
    border-radius: 0px 0px 0px 0px!important;
    padding: 40px!important;
    border: 30px solid #283366;
}
.sultan9 {height: 30px;width: 100%; margin: 2px;}
.sultan11 {
background-color: #fff;
border-radius: 200px 15px 15px 15px;
font-family: 'jazeera',FontAwesome;
padding: 90px 90px 90px 90px; margin:90px 90px 90px 90px;
    
}
#sultan8 {
    margin-bottom: 90px;
    font-family: 'jazeera-light',FontAwesome;
    background-color: #283366;
    height: 28px;
    color: #f9f9f9;
    border-radius: 90px 5px 5px 90px;
    border-bottom: 2px solid #283366;
    border-top: 2px solid #283366;
    padding-bottom: 2px!important;
}


label.fl.label.loginstat.label-success {
    border-radius: 15px 0px 15px 0px!important;
    font-family: 'jazeera',FontAwesome;
    height: 23px;
    float: initial;
    display: inline-flex;
}
button.btn.fr.btn-success.fa.fa-refresh {
padding: 4px 5px;
background-color: #595A5C!important;
background-image: none;
border: 2px solid transparent;
margin-top: -7px!important;
border-radius: 50px;
}
#sultanm1 {
    background-color: #dc2c2c;
    color: white;
    padding-right: 8px;
    padding-left: 80px;
    border-radius: 90px 30px;
    padding-top: 0;
    padding-bottom: 50px;
    font-family: 'jazeera',FontAwesome;
    margin: 4px;
}
#sultanm2 {
    color: white;
    background-color: rgb(12, 12, 14);
    padding: 0;
    padding-right: 70px;
    padding-left: 60px;
    border-radius: 70px 15px;
    border: 1px solid #ff0000;
    margin: 10px;
}
.sultan9 {height: 30px;width: 22%; margin: 2px;}
.sultan11 {
background-color: #fff;
border-radius: 15px 15px 15px 15px;
font-family: 'jazeera',FontAwesome;
padding: 2px 10px 2px 10px; margin:7px 10px 7px 10px;
    
}
#sultan5{margin-left: 1%;margin-bottom: 2px;font-family: 'jazeera-light',FontAwesome;background-color: rgb(255, 235, 247);margin-top: -5px;height: 24px;color: #c10c6b;text-shadow: 2px 0px 8px rgba(243, 8, 144, 0.32) , 0px 80px 10px #fff !important;border-radius: 70p 90px 5px 90px;}
#sultan25 {
    margin-left: 2px;
    margin-bottom: -4px;
    font-family: 'jazeera-light',FontAwesome;
    background-color: rgb(255, 235, 247);
    margin-top: 1px;
    height: 24px;
    color: #595A5C;
    text-shadow: 2px 0px 8px rgba(19, 18, 18, 0.32) , 0px 2px 10px #fff !important;
    border-radius: 5px 5px 5px 5px;
}
div#tlogins .fr.borderg {
    font-size: 10px!important;
}
div#tlogins .fr.borderg a {
    font-size: 10px!important;
}
.ae {border: 1px solid #283366;}
.btn-primary {border: 90px solid #283366;}
.u-topic.ui-corner-all.dots {color: #595A5C;}
.u-topic.ui-corner-all.dots {font-family: 'jazeera',FontAwesome;}
.room.borderg.hand.nosel.fl img.fl.u-pic {
    border-radius: 15px 15px 15px 15px;
}
body {background-image: url(https://galychat.com/sico/z1cm75e43k10.png);}
.sultan9 {height: 30px;width: 99%; margin: 20px;}
.sultan111 {
font-family: 'jazeera',FontAwesome;
    
}
div#l1 {margin-bottom: 90px;}
div#l2 .checkbox label {margin-top: 90px;}
div#l2 .checkbox {margin-left: 150px!important;}
div#l2 button.btn.btn-primary {width: 300%;height: 90px;margin-top: 50px;float: left;}
div#l3 input , div#l2 input {width: 100%;}
div#l3 br , div#l2 br {display: none;}
div#l3 button.btn.btn-primary , div#l1 button.btn.btn-primary {width: 1%;margin-top: 2px;height: 90px;}
input#u1 {width: 1%;}</style>`).insertBefore('body');



}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #475fa6;
    cursor: default;
    background-color: #ecddc0;
    border-radius: 0px;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(4, 4, 4, 0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(4, 4, 4, 0.8);
    border: 1px solid #b79ea7;
    border-radius:15px;
}
span.corner.u-topic.dots {
    margin: 5px!important;
    border-radius: 15px 15px 15px 0px!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(47, 32, 136, 0.8);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(47, 32, 136, 0.8);
}
img.fitimg.fl.u-pic {
    border-bottom: 2px solid #475fa6;
    border-right: 2px solid #475fa6;
    border-top: 2px solid #475fa6;
    border-left: 2px solid #475fa6;
    border-radius: 4px;
    background-size: cover;
    padding: 0;
}
function AddUser(id, user) {
    var u = $(uhtml);
    if ($(".uid" + id).length) { return; }
    var ico = getico(user);
    if (ico != '') {
      u.find('.u-ico').attr('src', ico);
    }
    u.addClass("uid" + id);
    u.addClass('hid').remove();
    u.click(function () { upro(user.id); });
    $("#users").append(u);
  }
  function stealthit(u) {
    var power2 = getpower(u.power);
    if (u.s && power2.rank > power.rank) {
  
      $(".uid" + u.id).addClass('hid').remove();
     // $('#users').has('.hid');
  
  
    } else {
      $(".uid" + u.id).removeClass('hid');
  }
	  
body, .nosel.fl.bg, .tablebox.footer.fl.light, .break.fr {
    background-image: url(https://galychat.com/sico/z1cm75e43k10.png);	
}
	
element.style {
    width: 13px;
    height: 13px;
    margin-left: 0px;
    border-radius: 15px;
    position: static;
    margin-top: 12px;
}
.btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-success.active, .btn-success:active, .btn-warning.active, .btn-warning:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

	#skrr {font-family: 'jazeera-light',FontAwesome;margin-bottom: 2px; background-color: #E80883; height: 1px; color: #FFFFFA; border-radius: 1px 1px 0px 1px!important; padding-bottom: 70px!important;
    text-shadow: 2px 0px 8px rgba(255,255,219) , 0px 2px 10px #fff !important;
border: 1px solid #FFF0FA
}
.sultan-skr1 {font-family: 'jazeera-light',FontAwesome;margin-bottom: 3px;height: 28px; color: #000000;padding-bottom: 99px!important;
}
.sultan-skr3 {font-family: 'jazeera-light',FontAwesome;margin-bottom: 2px;height: 28px; color: #FF0000;padding-bottom: 90px!important;}
.sultan-skr33 {font-family: 'jazeera-light',FontAwesome;margin-bottom: 2px;height: 28px; color: #283366;padding-bottom: 70px!important;
border-radius: 30px 30px 30px 30px;
}
img {
    vertical-align: middle;
    border-radius: 50px;
}
.room.borderg.hand.nosel.fl {
    background-image: url(https://galychat.com/sico/z1cm75e43k10.png);
  }
