$(`<style>a.label.label-primary.fl
	{
	display:none
}
button.btn.fr.btn-success.fa.fa-refresh
	{
	display:none
}
a.label.label-primary.fl img.fl
a.label.label-primary.fl
	{
	border-radius:3px!important;
	margin:2px-0px;
	padding:5px!important;
	margin-bottom:2px;
	text-align:right!important
}
#des22
	{
	text-align:center!important;
	font-size:100%!important
}
label.fl.label.loginstat
	{
	position:absolute;
	top:0;
	margin-top:4px;
	Right:0
}
.fr.borderg,.fr.borderg a
	{
	font-size:10px!important;
	padding:0 5px!important
}
span.s1.fa.fa-user.label.badgex.label-as-badge.label-success
	{
	padding:0px 3px 2px;
	margin-right:5px
}
	
.fr.borderg,.fr.borderg a
	{
	border-radius:3px!important;
	margin-right:0px!important;
	border:black solid 0px;
	color:#7D7D7D
}
ul.nav.nav-tabs>li>a
	{
	color:#7D7D7D;
	border:none;
	text-align:center;
	border-radius:3px;
	display:initial;
	width:80%;
	float:left;
	padding:0!important
}
ul.nav.nav-tabs>li.active>a
	{
	border:none;
	border-radius:3px
}
ul.nav.nav-tabs>li
	{
	width:32%;
	margin:0 5px 0 0
}
ul.nav.nav-tabs>li>.fa-user-plus:before,ul.nav.nav-tabs>li>.fa-user:before,ul.nav.nav-tabs>li>.fa-user:before
	{
	float:right;
	margin-right:-26%;
	border:1px solid;
	padding:0 2px 1px;
	border-radius:3px;
	width:23px;
	text-align:center;
	color:#7D7D7D
}
ul.nav.nav-tabs
	{
	border-top:1px solid#190604;
	margin-top:1px;
	float:right;
	width:100%;
	padding:3px 1px
}
input#u1,input#u2,input#pass1,input#u3,input#pass2
	{
	width:50%;
	height:31px;
	margin-left:40.5px;
	margin-bottom:5.5px;
	border:1px solid#D1351D;
	border-radius:3px;
	text-align:center
}
div#asim13
	{
	width:49%;
	top:122px;
	position:absolute;
	left:3px;
}
div#l1
	{
	padding:16.8px!important
}
.ae.fa.label.label-primary.fa-user {Width : fit-content
Width : -moz-fit-content!important;}
.label.ae.fa.label.fa-commenting-o.label-warning {border: 1px solid #ffa200;!important;color: #ffffff!important;}
.label.ae.fa.chats.label.fa-comment.label-warning  {border: 1px solid #ffa200!important;}
.fl.btn.btn-primary  {Width : fit-content
Width : -moz-fit-content!important;}
.a.label.primary {text-align: center!important;}
.ae.fa.chats.label.fa-comment {Width : fit-content
Width : -moz-fit-content!important;}
.corner.fa.fa-user.label.label-primary.fr.uc {Width : fit-content
Width : -moz-fit-content!important;}
.ae.fa.label.label-primary.fa-users {Width : fit-content
Width : -moz-fit-content!important;}
.ae.fa.label.fa-commenting-o.label {Width : fit-content
Width : -moz-fit-content!important;}
.ae.label.label-primary.fa.fa-gear {Width : fit-content
Width : -moz-fit-content!important;}
.colorsB {border-radius:14px;width:7%;height:30px;margin:3px 2px;border-width:4px;}
#clr1 {border-color:#2f2d29 ;background-color:#DFBBB1 ;}
#clr2 {border-color:#3d155f;background-color:#ADA2B8 ;}
#clr3 {border-color:#717C89 ;background-color:#8AA2A9 ;}
#clr4 {border-color:#a6a4b5  ;background-color:#3b394a  ;}
#clr5 {border-color:#9FA2B2;background-color:#2E4756;}
#clr6 {border-color:#898579;background-color:#808F85;}
#clr7 {border-color:#8B687F;background-color:#A28F9D;}
#clr8 {border-color:#52796F;background-color:#538083;}
</style>`).insertBefore("body");

$(`<div style="width:auto%;"  id="ahmed" id="sa" class="fa fa-paint-brush btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">اختر لونك</div>
<div class="collapse" id="collapseExample"><center><div class="well"><p lass="bg-primary">  </p>إختر لونك بالضغط على احد الازرار  </p> <i class="fas fa-feather-alt"></i>
 <button id="clr1" class="colorsB" type="button" onclick="alwanAhmed();
function alwanAhmed() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#DFBBB1 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#2f2d29 !important';
	}
};"></button>
<button id="clr2" class="colorsB" type="button" onclick="alwanMuhannad1();
function alwanMuhannad1() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#ADA2B8 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#3d155f !important';
	}
};"></button>
<button id="clr3" class="colorsB" type="button" onclick="alwanAhmed2();
function alwanAhmed2() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ elements[i].style.cssText = 'background-color:#8AA2A9 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#717C89 !important';
	}
};"></button>
<button id="clr4" class="colorsB" type="button" onclick="alwanMuhannad2();
function alwanMuhannad2() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ elements[i].style.cssText = 'background-color:#3b394a  !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#a6a4b5 !important';
	}
};"></button>
<button id="clr5" class="colorsB" type="button" onclick="alwanFahawa3anbr();
function alwanFahawa3anbr() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#2E4756 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#9FA2B2 !important';
	}
};"></button>
<button id="clr6" class="colorsB" type="button" onclick="alwanMai();
function alwanMai() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#808F85 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#898579 !important';
	}
};"></button>
<button id="clr7" class="colorsB" type="button" onclick="alwanFhh0();
function alwanFhh0() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#A28F9D!important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#8B687F!important';
	}
};"></button>
<button id="clr8" class="colorsB" type="button" onclick="alwan3anbr();
function alwan3anbr() {	
var elements = document.getElementsByClassName('label-primary'); 
var btns = document.getElementsByClassName('btn-primary');
for(var i = 0; i < elements.length; i++){ 
elements[i].style.cssText = 'background-color:#538083 !important; width:100%;';
}
for(var i = 0; i < btns.length; i++){ btns[i].style.cssText = 'background-color:#52796F !important';
	}
};"></button>
‏  <center></div></div></div>`).insertBefore('.border.label.mini.label-success.hand.fa.fa-edit.fr');
